body {
    background-image: url(https://wallpapercave.com/wp/wp5608199.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

    .botoes {
    width: 100%;
    height: 7%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    padding-right: 40px;
    }

    a{
    text-decoration: none;
    color:black;
    margin: 1rem;
    cursor: pointer;
    border-radius: 3px;
    }
    a:hover{
        color:rgb(111, 8, 8);
        background-color: rgb(234, 223, 223);
        border: 4%x solid rgb(111, 8, 8);
    }

    .titulo { 
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    background: linear-gradient(45deg, #000000, #ff0000); 
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: center; 
    margin-top: 20vh; 
    text-transform: uppercase; 
    letter-spacing: 0.2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    }

    .conteudo {
        height: 600px; 
        padding: 20px;
    }