<DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Livros Online - Dom Quixote </title>
    <link rel="stylesheet" href="../static/style.css">
</head>
  <body>
    <div class="botoes">
      <a href="home.html">HOME</a>
      <a href="login.html">LOGIN</a>
      <a href="livros.html">LIVROS</a>
      <a href="publicar.html">PUBLICAR</a>
    </div>
    <div>
        <br>
        <br>
        <br>
    </div>
    <div class="container">
        <div class="image-section">
          <img class="img_dom" src="https://www.lpm.com.br/livros/imagens/dom_quixote_hq_9788525433633_hd.jpg" alt="Imagem de Fundo">
        </div>
        <div class="text-section">
          <h1>Dom Quixote</h1>
          <p>Dom Quixote de la Mancha é um livro escrito pelo espanhol Miguel de Cervantes. O título e ortografia originais eram El ingenioso hidalgo Don Quixote de La Mancha, com sua primeira edição publicada em Madrid, em 16 de janeiro de 1605.</p>
        </div>
      </div>
  </body>	
</html>