<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci minha senha</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="botoes">
        <a href="home.html">HOME</a>
        <a href="login.html">LOGIN</a>
        <a href="livros.html">LIVROS</a>
        <a href="publicar.html">PUBLICAR</a>
    </div>
    <div class="page">
        <form method="POST" class="formLogin">
            <h1>Esqueci minha senha</h1>
            <p>Informe seu E-mail </p>
            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite seu e-mail" autofocus="true" />
            <input type="submit" value="Acessar" class="btn" href="esqueci_senha.html" />
        </form>
    </div>

</body>

</html>