<DOCTYPE html>
<html lang="pt-br">
  <head>
      <meta charset="utf-8"/> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> Livros Online </title>
      <link rel="stylesheet" href="../static/publicar.css">
  </head>
    <body>
      <div class="botoes">
        <a href="home.html">HOME</a>
        <a href="login.html">LOGIN</a>
        <a href="livros.html">LIVROS</a>
        <a href="publicar.html">PUBLICAR</a>
      </div>
    <div class="conteudo2">
    </div>
    <div class = "barra">
      <p class="styled-phrase">Sinta-se livre para preencher esta caixa com um poema, uma frase ou qualquer pensamento que voe em sua mente:
      </p>
        <input type="text" placeholder="Expresse-se..." class="styled-input">
        <button class="styled-button">Enviar</button>
    </div>
    </body>	
</html>