<DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Livros Online </title>
    <link rel="stylesheet" href="../static/home.css">
</head>
  <body>
    <!--Fundo com livros-->
    <div class="fundo">
      <div class="barra_superior">
          <a class="botao_cinza" href="home.html">HOME</a>
      </div>
      <div class="titulo"> 
          <h1>conhecimento</h1>
      </div>
      <div class="conteudo">
      </div>
    </div>
    
    <!-- Muda para a parte cinza--> 
    <div id="fundo_color" class="fundo_color">
    <div class="barra_superior2">
      <a class="botao_creme" href="home.html">HOME</a>
  </div>
    <div class="titulo-colecao">
        <h2>Livros e poemas</h2>
    </div>
    <div class="pequeno_conteudo">
    </div>
    <div class="scroll-container">
      
  <!--LIVROS--> 
  <div class="book-collection">
    <!-- Livro do Dom Quixote --> 
    <div class="book-item">
      <a href="DomQuixote.html">
        <img src="../Imagem/DomQuixote.jpeg" alt="capa livro Dom Quixote">
        <p>Dom Quixote</p>
      </a>
    </div>
    <!-- Livro do Memórias Postumas de Brás Cubas -->
    <div class="book-item">
      <a href="MemoriasPostuma.html">
        <img src="../Imagem/MemoriasPostumas.jpeg" alt="capa livro Memórias Postumas de Brás Cubas">
        <p>Memórias Póstumas de Brás Cubas</p>
      </a>
    </div>
    <!-- Livro do Harry Potter e a Pedra Filosofal-->
    <div class="book-item">
      <a href="HarryPotterPedraFilosofal.html">
        <img src="../Imagem/PedraFilosofal.jpg" alt="capa livro Harry Potter e a Pedra Filosofal">
        <p>Harry Potter e a Pedra Filosofal</p>
      </a>
    </div>
    <!-- Livro do O Menino do Pijama Listrado-->
    <div class="book-item">
      <a href="MeninoPijamaListrado.html">
        <img src="../Imagem/PijamaListrado.jpg" alt="capa livro O Menino do Pijama Listrado">
        <p>O Menino do Pijama Listrado</p>
      </a>
    </div>
    <!-- Livro do Torto Arado-->
    <div class="book-item">
      <a href="TortoArado.html">
        <img src="../Imagem/TortoArado.webp" alt="capa livro Torto Arado">
        <p >Torto Arado</p>
      </a>
    </div>
    <!-- Livro do A Volta ao Mundo em 80 Dias-->
    <div class="book-item">
      <a href="VoltaNoMundo.html">
        <img src="../Imagem/VoltanoMundo.jpeg" alt="capa livro A Volta ao Mundo em 80 Dias">
        <p>A Volta ao Mundo em 80 Dias</p>
      </a>
    </div>
    <!-- Livro do Dom Casmurro-->
    <div class="book-item">
      <a href="DomCasmurro.html">
        <img src="../Imagem/DomCasmurro.jpeg" alt="capa livro Dom Casmurro">
        <p>Dom Casmurro</p>
      </a>
    </div>
    <!-- Livro do O Pequeno Príncipe-->
    <div class="book-item">
      <a href="PequenoPrincipe.html">
        <img src="../Imagem/PequenoPrincipe.jpg" alt="capa livro O Pequeno Príncipe">
        <p>O Pequeno Príncipe</p>
      </a>
    </div>
    <!-- Livro do Os Miseráveis-->
    <div class="book-item">
      <a href="OsMiseraveis.html">
        <img src="../Imagem/OsMiseraveis.jpg" alt="capa livro Os Miseráveis">
        <p>Os Miseráveis</p>
      </a>
    </div>
    <!-- Livro do A Culpa é Das Estrelas-->
    <div class="book-item">
      <a href="CulpaDasEstrelas.html">
        <img src="../Imagem/CulpaDasEstrelas.webp" alt="capa livro A Culpa é Das Estrelas">
        <p>A Culpa é Das Estrelas</p>
      </a>
    </div>
    <!-- Livro do 1984-->
    <div class="book-item">
      <a href="1984.html">
        <img src="../Imagem/livromil.jpg" alt="capa livro 1984">
        <p>1984</p>
      </a>
    </div>
    <!-- Livro do Extrordinário-->
    <div class="book-item">
      <a href="Extraordinario.html">
        <img src="../Imagem/extraordinario.jpg" alt="capa livro Extraordinário">
        <p>Extraordinário</p>
      </a>
    </div>
  </div>
  <div class="pequeno_conteudo">
  </div>

<!-- POEMAS-->
    <div class="book-collection">
  <!-- Poema Timidez-->
  <div class="book-item">
    <a href="Timidez.html">
      <img src="../Imagem/Timidez2.jpg" alt="capa Poema Timidez">
      <p>Timidez</p>
    </a>
  </div>

    <!-- Poema José-->
    <div class="book-item">
      <a href="jose.html">
        <img src="../Imagem/jose.jpg" alt="capa Poema José">
        <p>José</p>
      </a>
    </div>

    <!-- Poema Canção do Exílio-->
    <div class="book-item">
    <a href="cancao.html">
      <img src="../Imagem/cancao.jpg" alt="capa Canção do Exílio">
      <p>Canção do Exílio</p>
    </a>
  </div>

      <!-- Poema Ora direis ouvir estrelas-->
      <div class="book-item">
        <a href="ora.html">
          <img src="../Imagem/ora.jpeg" alt="capa Poema Ora direis ouvir estrelas">
          <p>Ora direis ouvir estrelas</p>
        </a>
      </div>

      <!-- Poema Soneto de Fidelidade-->
      <div class="book-item">
        <a href="sonetos.html">
          <img src="../Imagem/soneto.jpg" alt="capa Soneto de Fidelidade">
          <p>Soneto de Fidelidade</p>
        </a>
      </div>

      <!-- Poema Versos Íntimos-->
      <div class="book-item">
        <a href="versos.html">
          <img src="../Imagem/versos.jpeg" alt="capa Versos Íntimos">
          <p>Versos Íntimos</p>
        </a>
      </div>
</div>

  </body>	
  <script>
    window.addEventListener('scroll', function() {
        var fundoColor = document.getElementById('fundo_color');
        var barraSuperior2 = document.querySelector('.barra_superior2');
        var fundoColorTop = fundoColor.getBoundingClientRect().top;
        if (fundoColorTop <= 0) {
            barraSuperior2.style.display = 'flex';
        } else {
            barraSuperior2.style.display = 'none';
        }
    });
</script>
</html>